<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enumeration" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.10" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net461" />
  <package id="RestAssured" version="1.0.0" targetFramework="net461" />
  <package id="RestSharp" version="106.5.4" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.45" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
</packages>